/* Primary font */
@mixin primary-font {
    font-family: 'VT323', monospace;
    font-style: normal;
}

@mixin primary-font-regular {
    @include primary-font();
    font-weight: 400;
}

.primary-font-regular {
    @include primary-font-regular();
}
