// Base colours.
$black: #000;
$white: #fff;

// Primary colours.
$primary-300-purple: #9a6dea;
$primary-400-purple: #8154d1;
$primary-500-purple: #673ab7;
$primary-600-purple: #4e219e;
$primary-700-purple: #340784;
$primary-800-purple: #1b006b;

// Secondary colors.
$secondary-300-green: #61ffa4;
$secondary-400-green: #48e68b;
$secondary-500-green: #2ecc71;
$secondary-600-green: #15b358;
$secondary-700-green: #00993e;
$secondary-800-green: #008025;

// Background colours.
.black-background-color {
    background-color: $black;
}

.primary-300-purple-background-color {
    background-color: $primary-300-purple;
}

.primary-400-purple-background-color {
    background-color: $primary-400-purple;
}

.primary-500-purple-background-color {
    background-color: $primary-500-purple;
}

.primary-600-purple-background-color {
    background-color: $primary-600-purple;
}

.primary-700-purple-background-color {
    background-color: $primary-700-purple;
}

.primary-800-purple-background-color {
    background-color: $primary-800-purple;
}

.secondary-300-green-background-color {
    background-color: $secondary-300-green;
}

.secondary-400-green-background-color {
    background-color: $secondary-400-green;
}

.secondary-500-green-background-color {
    background-color: $secondary-500-green;
}

.secondary-600-green-background-color {
    background-color: $secondary-600-green;
}

.secondary-700-green-background-color {
    background-color: $secondary-700-green;
}

.secondary-800-green-background-color {
    background-color: $secondary-800-green;
}

.white-background-color {
    background-color: $white;
}

// Colours.
.black-color {
    color: $black;
}

.primary-300-purple-color {
    color: $primary-300-purple;
}

.primary-400-purple-color {
    color: $primary-400-purple;
}

.primary-500-purple-color {
    color: $primary-500-purple;
}

.primary-600-purple-color {
    color: $primary-500-purple;
}

.primary-700-purple-color {
    color: $primary-500-purple;
}

.primary-800-purple-color {
    color: $primary-500-purple;
}

.secondary-300-green-color {
    color: $secondary-300-green;
}

.secondary-400-green-color {
    color: $secondary-400-green;
}

.secondary-500-green-color {
    color: $secondary-500-green;
}

.secondary-600-green-color {
    color: $secondary-500-green;
}

.secondary-700-green-color {
    color: $secondary-500-green;
}

.secondary-800-green-color {
    color: $secondary-500-green;
}

.white-color {
    color: $white;
}
