html,
body {
    margin: 0;
}

html {
    font-size: 90%;
}

@media (min-width: 1300px) {
    html {
        font-size: 100%;
    }
}

header {
    flex: 0 0 15rem;
    max-width: 15rem;
}

main {
    flex: 1;
    overflow: auto;
}
