.link {
    composes: primary-500-purple-color from "../../stylesheets/modules/colours.scss";
    composes: white-background-color from "../../stylesheets/modules/colours.scss";
    border-radius: 50%;
    display: block;
    font-size: 1.7rem;
    line-height: 3rem;
    margin: 0.375rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    width: 3rem;
    z-index: 1;
}

.link:hover {
    color: #2ecc71;
}

.link:hover span {
    opacity: 1;
    transform: scale(1);
    transition: transform 300ms;
}

/* 8-bit edge */
.link span {
    backface-visibility: hidden;
    background-color: #fff;
    display: block;
    opacity: 0;
    perspective: 1000px;
    position: absolute;
    transform: scale(0);
    transition: transform 300ms, opacity 0s 300ms;
}

.link span:before,
.link span:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 0.3125rem;
    position: absolute;
    width: 0.3125rem;
}

.link span:first-child { top: -0.1875rem; }

.link span:nth-child(2) { right: -0.1875rem; }

.link span:nth-child(3) { bottom: -0.1875rem; }

.link span:last-child { left: -0.1875rem; }

.link span:first-child,
.link span:nth-child(3) {
    left: 25%;
    width: 50%;
    height: 10.4%;
}

.link span:first-child:before,
.link span:first-child:after,
.link span:nth-child(3):before,
.link span:nth-child(3):after {
    width: 0.5rem;
}

.link span:nth-child(2),
.link span:last-child {
    top: 25%;
    width: 10.4%;
    height: 50%;
}

.link span:last-child:before,
.link span:last-child:after,
.link span:nth-child(2):before,
.link span:nth-child(2):after {
    height: 0.5rem;
}

.link span:nth-child(2):before,
.link span:last-child:before,
.link span:nth-child(3):before,
.link span:nth-child(3):after {
    top: -0.3125rem;
}

.link span:first-child:after,
.link span:nth-child(3):after,
.link span:last-child:before,
.link span:last-child:after {
    right: -0.3125rem;
}

.link span:nth-child(2):after,
.link span:last-child:after,
.link span:first-child:before,
.link span:first-child:after {
    bottom: -0.3125rem;
}

.link span:first-child:before,
.link span:nth-child(3):before,
.link span:nth-child(2):before,
.link span:nth-child(2):after {
    left: -0.3125rem;
}
